:root {
  --primary-color: rgb(0, 220, 90);
}

.nav {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #000;
}
.nav-warp {
  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  margin-right: 140px;
}
.nav-left__logo {
  width: 82px;
  height: 26px;
  margin-right: 8px;
}
.nav-left__list {
  list-style-type: none;
}
.nav-left__item {
  display: inline-block;
  padding: 0 8px;
  position: relative;
}
.nav-left__item:hover > .sub-item-list {
  display: inline-block;
}
.nav-left__link:hover,
.nav-left__link.active:hover {
  color: var(--primary-color);
}

.nav-left__link:hover > .nav-left__link-dropdown {
  transition: all 0.2s linear;
  transform: rotate(180deg);
  color: var(--primary-color);
}

.nav-left__link {
  text-decoration: none;
  font-weight: 400;
  color: #959698;
  padding: 2px;
}
.nav-left__link.active {
  color: #fff;
  font-weight: 700;
}
.nav-left__link-dropdown {
  font-size: 12px;
  text-align: center;
  color: #959698;
}

/* =================SUB-ITEM============================= */
.sub-item-list {
  position: absolute;
  top: 42px;
  right: -140px;
  transform: translateX(-50%);
  background-color: #1a1c22;
  width: 180px;
  z-index: 2;
  display: none;
  border-radius: 4px;
  border: 1px solid #666;
}
.sub-item-item {
  padding: 8px 0;
  text-align: center;
}
.sub-item-item:first-child {
  margin-top: 8px;
}
.sub-item-item:last-child {
  margin-bottom: 8px;
}
.sub-item-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
  cursor: pointer;
}
.sub-item-item:hover > .sub-item-link {
  color: var(--primary-color);
}
.sub-item-link {
  padding: 8px 40px;
  color: #959699;
}

.sub-item-list::after {
  content: '';
  position: absolute;
  top: -25px;
  display: block;
  height: 25px;
  width: 181px;
}
.sub-item-list::before {
  content: '';
  position: absolute;
  border: 10px solid;
  border-color: transparent transparent #1a1c22 transparent;
  top: -20px;
  right: 81px;
}
/* ========================SEARCH============================= */
.nav-search {
  position: relative;
}
.search {
  width: 240px;
  height: 36px;
  padding: 0px 53px 0px 12px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  overflow: hidden;
}
.search:focus ~ .result-search {
  display: block;
}
.search-icon {
  color: #fff;
  position: absolute;
  top: 10px;
  right: 14px;
  border-left: 1px solid;
  padding-left: 14px;
}
.search-icon:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.result-search {
  position: absolute;
  top: 48px;
  background-color: #1a1c22;
  width: 239px;
  color: #999;
  max-height: 545px;
  border: 1px solid;
  border-radius: 4px;
  overflow: hidden;
  display: none;
}
.result {
  display: flex;
  align-items: center;
  padding: 16px;
}
.result:hover {
  color: var(--primary-color);
  background-color: #000;
  cursor: pointer;
}
.result__top {
  margin-right: 10px;
  font-weight: 700;
}
.result__top.ontop {
  color: var(--primary-color);
  font-size: 16px;
}
.result__name {
  font-size: 14px;
}
/* ======================= Navigation Right =================== */
.nav-right {
  display: flex;
  align-items: center;
  margin-left: 40px;
}
.nav-right-list {
  display: flex;
  text-align: center;
}
.nav-right-item {
  position: relative;
  margin-right: 40px;
}
.nav-right-item:hover .nav-right-link {
  color: var(--primary-color);
  cursor: pointer;
}
.nav-right-item:hover .nav-right-link + .nav-right-sub-item-list {
  display: block;
}
.nav-right-link {
  color: #fff;
}
.nav-right-icon {
  font-size: 18px;
}
.nav-right-name {
  font-size: 12px;
}
.nav-right-sub-item-list {
  display: none;
  background-color: #1a1c22;
  position: absolute;
  width: 280px;
  top: 51px;
  right: -130px;
  max-height: 260px;
  border: 1px solid #fff;
  z-index: 4;
}
.nav-right-sub-item-list::before {
  content: '';
  position: absolute;
  top: -26px;
  right: 111px;
  display: block;
  height: 30px;
  width: 71px;
}
.nav-right-sub-item-item {
  display: flex;
  color: #fff;
  padding: 12px;
}
.nav-right-sub-item-item:hover .nav-right-sub-item-name {
  color: var(--primary-color);
  cursor: pointer;
}
.nav-right-sub-item-img {
  width: 110px;
  height: 62px;
  border-radius: 5px;
  margin-right: 8px;
  cursor: pointer;
}
.nav-right-sub-item-name {
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;
  color: #a9a9ac;
  margin-bottom: 8px;
}
.nav-right-sub-item-chapter {
  font-size: 12px;
  text-align: left;
  color: #c4c4c4;
  margin-bottom: 8px;
}
.nav-right-sub-item-timeline {
  background: rgba(255, 255, 255, 0.12);
  flex: 1 1 0%;
  margin-right: 4px;
  height: 2px;
  width: 150%;
}
